<div class="container">
  <div class="row">
    <h3>Units</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @units.each do |unit| %>
            <tr>
              <%= render unit %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
